################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/INS_API/FileContentIndex/093c91b2-ba64-4dc4-abe9-92da9b3ddf48.vsidx
/.gitignore
/.vs/INS_API/FileContentIndex/1d7913de-ea67-4bd9-8493-1bb580c9ac59.vsidx
/.vs/INS_API/FileContentIndex/a904d328-765c-4575-8dcd-315b85a6975c.vsidx
/.vs/INS_API/FileContentIndex/cd12fa4e-4db8-43cf-b053-541b1d8c6cbc.vsidx
/.vs/INS_API/FileContentIndex/5a3d3ec9-bce1-4c2b-b005-8d0f0b134794.vsidx
/.vs/INS_API/config/applicationhost.config
/.vs/INS_API/FileContentIndex/1cca9694-25fa-42b4-8594-a7e023924f32.vsidx
/.vs/INS_API/FileContentIndex/844fcaa8-172c-4a88-bc70-d79e0aef819e.vsidx
/INS_API/obj/Debug/INS_API.csproj.AssemblyReference.cache
/.vs/INS_API/v17/.suo
/INS_API/obj/Debug/bin
/.vs/INS_API/FileContentIndex/020e2dc2-73bd-4c89-a273-e5d619e610ae.vsidx
/.vs/INS_API/FileContentIndex/65bb64ff-b5da-4bd3-83a5-82c733aabfd9.vsidx
/INS_API/bin/INS_API.dll
/INS_API/bin/INS_API.pdb
/INS_API/bin/INS_API_DataFeed.dll
/INS_API/bin/INS_API_DataFeed.pdb
/INS_API/obj/Debug/INS_API.dll
/INS_API/obj/Debug/INS_API.pdb
/INS_API_DataFeed/bin/Debug/INS_API_DataFeed.dll
/INS_API_DataFeed/bin/Debug/INS_API_DataFeed.pdb
/INS_API_DataFeed/obj/Debug/INS_API_DataFeed.dll
/INS_API_DataFeed/obj/Debug/INS_API_DataFeed.pdb
/.vs/INS_API/FileContentIndex/d9551f49-0b65-4dca-a73f-698c7fcf43ed.vsidx
/.vs/INS_API/FileContentIndex/f1af07e4-c4f6-4493-9981-f26712b9d428.vsidx
/.vs/INS_API/FileContentIndex/9211f39a-68d3-464a-ad47-42aec8e2f7e7.vsidx
/.vs/INS_API/v17/DocumentLayout.backup.json
/.vs/INS_API/v17/DocumentLayout.json
/.vs/INS_API/FileContentIndex/0a1e84d6-7725-4c5a-a69a-4e9c44363f02.vsidx
/.vs/INS_API/FileContentIndex/372ea87b-a54f-4fc1-aaff-f6993fac4606.vsidx
/.vs/INS_API/FileContentIndex/be891304-8289-4bba-81f7-ff54743a13b5.vsidx
/.vs/INS_API/FileContentIndex/c1756921-c924-4b46-b702-824cd51832ce.vsidx
/.vs/INS_API/FileContentIndex/a4f1cedf-0ae2-40aa-a226-a7433c871f1a.vsidx
/.vs/INS_API/FileContentIndex/44804273-dc2d-42f5-b978-dba2117f000c.vsidx
/.vs/INS_API/FileContentIndex/a0d73d3a-b66a-4952-8304-07a7653febb7.vsidx
/.vs/INS_API/FileContentIndex/0f5e2e47-661f-4bd4-8267-98b754d10ab5.vsidx
/.vs/INS_API/FileContentIndex/b8b8f485-b0f3-41a4-817e-4d572ca227e1.vsidx
/.vs/INS_API/FileContentIndex/c327aa49-367e-4b46-94d6-ed1aeea4c4e5.vsidx
/.vs/INS_API/FileContentIndex/47d579b4-150d-4f02-a06f-f218313572d8.vsidx
/.vs/INS_API/FileContentIndex/a673af64-3cce-4938-a100-c9f106b15b0e.vsidx
/.vs/INS_API/FileContentIndex/3ba833f2-3347-42a3-a856-4dae46e7de24.vsidx
