################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/INS_API/FileContentIndex/093c91b2-ba64-4dc4-abe9-92da9b3ddf48.vsidx
/.vs/INS_API/FileContentIndex/1cca9694-25fa-42b4-8594-a7e023924f32.vsidx
